section.my-partner
    .container
        h3.section-title-medium Наши партнеры
        .my-partner-wrap.row
            .my-partner-blocks.col-lg-6.col-md-12.col-sm-12
                .my-partner-blocks-item.blue-box
                    img.my-partner_img(src="static/img/general/ru.png")
                    h3.my-partner-title АО «Русский Стандарт Страхование»
                    p.my-partner-text Круглосуточный диспетчерский пульт страховой компанииАО «Русский Стандарт Страхование»:
                    .contact-page-icon-phone
                        a.contact-page-icon-wrap(href="tel:88007007760")
                            +icon('contact')
                        a.contact-page--phone(href="tel:88007007760") 8 800 700-77-60
            .my-partner-blocks.col-lg-6.col-md-12.col-sm-12
                .my-partner-blocks-item.blue-box
                    img.my-partner_img(src="static/img/general/ru.png")
                    h3.my-partner-title АО «Русский Стандарт Страхование»
                    p.my-partner-text Круглосуточный диспетчерский пульт страховой компанииАО «Русский Стандарт Страхование»:
                    .contact-page-icon-phone
                        a.contact-page-icon-wrap(href="tel:88007007760")
                            +icon('contact')
                        a.contact-page--phone(href="tel:88007007760") 8 800 700-77-60
                .comming-my
                    span Скоро