section.dms-for-migrant
    .container
        .dms-for-migrant-form.blue-box
            h3.section-title-medium Рассчитать стоимость полиса
            p.section-title-text.color-opa.mb-5 Для подбора наиболее подходящей программы, пожалуйста, выберите нужные вам параметры
            .dms-form-migrant-input-w.col-lg-10.col-md-12.col-md-12.m-0-auto.mb-5
                select.test
                    option(value="Срок страхования") Срок страхования
                    option(value="Срок страхования2") Срок страхования2
                    option(value="Срок страхования3") Срок страхования3
            a.migdex-button-style.m-0-auto(href="/") Рассчитать стоимость