section.vidi-dms
    .container
        h3.section-title-medium Добровольное медицинское страхование для трудовых мигрантов
        .vidi-dms-wrap.row
            .vidi-dms-item.col-lg-4.col-md-12.col-sm-12.p-3
                .vidi-dms-item-item2.vidi-dms-migrant.blue-box
                    p.title-page-about-exam.fs-22.text-center Документы необходимые для оформления?
                    .rules-checked-items
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text паспорт иностранного гражданина
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text перевод паспорта (не обязательно нотариально заверенный)
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text миграционная карта
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text уведомление о постановке на миграционный учет (регистрация)
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text доверенность от генерального директора на уполномоченное лицо с правом подписи
            .vidi-dms-item.col-lg-4.col-md-12.col-sm-12.p-3
                .vidi-dms-item-item2.vidi-dms-migrant.blue-box
                    p.title-page-about-exam.fs-22.text-center Что включает в себя полис?
                    .rules-checked-items
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text медицинская помощь в случае острого заболевания, травмы (в том числе ожога, отморожения), отравления и иных состояний (заболеваний), требующих оказания медицинской помощи в неотложной форме
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text приемы врачей-специалистов
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text госпитализация в ближайшую клинику
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text лечение в стационаре
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text оказание стоматологической помощи при острой зубной боли
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text транспортировка в страну постоянного проживания по медицинским показаниям (в зависимости от условий страхования)
            .vidi-dms-item.col-lg-4.col-md-12.col-sm-12.p-3
                .vidi-dms-item-item2.vidi-dms-migrant.blue-box
                    p.title-page-about-exam.fs-22.text-center Что влияет на стоимость полиса?
                    .rules-checked-items
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text возраста иностранного гражданина
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text срока действия полиса