.section-tabs-wrap.docum2
    .docum-all-tabs
        include ../section-vnj/section-1
        include ../../index/section-why-migdex
        include ../section-vnj/section-3
        include ../section-vnj/section-4
        include ../section-vnj/section-5
        include ../section-vnj/section-6
        include ../section-vnj/section-contact