.section-tabs-wrap.docum3
    .docum-all-tabs
        include ../section-rf/section-1
        include ../../index/section-why-migdex
        include ../section-rf/section-3
        include ../section-rf/section-4
        include ../section-rf/section-5
        include ../section-vnj/section-6
        include ../section-vnj/section-contact