.section-tabs-wrap.docum1.active
    .docum-all-tabs
        include ../section-rvp/section-1-block
        include ../../index/section-why-migdex
        include ../section-rvp/section-3
        include ../section-rvp/section-4
        include ../section-rvp/section-5
        include ../section-vnj/section-6
        include ../section-vnj/section-contact