.modal-header,.modal-body,.modal-footer
  padding 0px
  border none

.modal-content
  padding 25px

.blue-box-popup
  border none
  background: #2B2F3F;
  box-shadow: 0px 0px 15px rgba(34, 34, 34, 0.3);
  border-radius: 10px;

.popup-close-migdex
  opacity 1


  .icon
    size(16px)
    fill #fff

.popup-modal-body
  display block
  text-align center
  margin-bottom 40px

  .icon
    margin-bottom 30px
    height 140px

.popup-modal-header
  margin-bottom 20px

.popup-title-body
  font-family "Oswald SB",sans-serif
  font-size 30px
  color #fff
  margin-bottom 15px

.popup-text-body
  font-size 14px
  font-family "Open Sans Reg",sans-serif
  color rgba(255, 255, 255, 0.6)
  margin 0 auto
  margin-bottom 40px

.popup-modal-content
  margin 0 auto

.popup-modal-input
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  border-radius: 5px;
  height 60px
  width 100%
  padding 20px
  color rgba(255, 255, 255, 0.6)
  font-family "Open Sans Reg",sans-serif
  font-size 16px

  &::placeholder
    color rgba(255, 255, 255, 0.6)
.popup-inputs-modal--wrap
  margin-bottom 30px

.popup-submit-button
  border none

.popup-modal-footer
  display flex
  justify-content center