section.prices.pb-0
    .container
        .prices-wrapper
            h3.section-title-medium Цены на комплексный экзамен для мигрантов
            p.prices-page-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio lobortis dictum aliquam nisl curabitur. Ac in nulla tempor nisl sem facilisi lorem at. Libero tristique non sed nibh orci. Augue sed.
            table.prices-list
                thead
                    tr
                        th Экзамен
                        th Время получения
                        th Стоимость
                tbody
                    tr
                        td Разрешение на работу (ИР)
                        td от 3 дней
                        td 4 000 ₽
                    tr
                        td Временное проживание (РВП)
                        td от 3 дней
                        td 4 300 ₽
                    tr
                        td Вид на жительство (ВНЖ)
                        td от 3 дней
                        td 4 000 ₽
                    tr
                        td Гражданство РФ
                        td от 3 дней
                        td 4 800 ₽
            a.prices-download(href="/" download)
                +icon('download')
                span Прайс лист
            a.migdex-button-style.register-stay-prices(href="/") Оставить заявку

section.prices.pb-0
    .container
        .prices-wrapper
            h3.section-title-medium Тестирование по русскому языку (ТРКИ)
            p.prices-page-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio lobortis dictum aliquam nisl curabitur. Ac in nulla tempor nisl sem facilisi lorem at. Libero tristique non sed nibh orci. Augue sed.
            table.prices-list
                thead
                    tr
                        th Экзамен
                        th Время получения
                        th Стоимость
                tbody
                    tr
                        td Элементарный (ТЭУ / A1)
                        td от 3 дней
                        td 4 000 ₽
                    tr
                        td Базовый (ТБУ / A2)
                        td от 3 дней
                        td 4 300 ₽
                    tr
                        td Первый (ТРКИ-1 / B1)
                        td от 3 дней
                        td 4 300 ₽
                    tr
                        td Второй (ТРКИ-2 / B2)
                        td от 3 дней
                        td 4 800 ₽
                    tr
                        td Третий (ТРКИ-3 / C1)
                        td от 3 дней
                        td 4 300 ₽
                    tr
                        td Четвертый (TРКИ-4 / C2)
                        td от 3 дней
                        td 4 800 ₽
            a.prices-download(href="/" download)
                +icon('download')
                span Прайс лист
            a.migdex-button-style.register-stay-prices(href="/") Оставить заявку

section.prices
    .container
        .prices-wrapper
            h3.section-title-medium Дополнительные услуги
            p.prices-page-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio lobortis dictum aliquam nisl curabitur. Ac in nulla tempor nisl sem facilisi lorem at. Libero tristique non sed nibh orci. Augue sed.
            table.prices-list
                thead
                    tr
                        th Экзамен
                        th Время получения
                        th Стоимость
                tbody
                    tr
                        td Перевод документов
                        td от 3 дней
                        td 4 000 ₽
                    tr
                        td Добровольное медицинское страхование
                        td от 3 дней
                        td 4 300 ₽
            a.prices-download(href="/" download)
                +icon('download')
                span Прайс лист
            a.migdex-button-style.register-stay-prices(href="/") Оставить заявку

