extends ../layout/common

block variables
    - var title = 'О нас'
    - var pageClass = 'common-page'

block content
    include about/section-reviews-baner
    include ../modules/breadcrumbs
    include about/section-about-us
    include index/section-why-migdex
    include index/section-have-question
