extends ../layout/common

block variables
    - var title = 'ДМС - для детей'
    - var pageClass = 'common-page'

block content
    include dms/section-reviews-baner
    include ../modules/breadcrumbs
    include dms-migrant/section-1
    include dms-migrant/section-4
    include index/section-why-migdex
    include dms-migrant/section-3
    include dms/section-contact-page
    include index/section-have-question