extends ../layout/common

block variables
    - var title = 'ДМС'
    - var pageClass = 'common-page'

block content
    include dms/section-reviews-baner
    include ../modules/breadcrumbs
    include dms/section-vidi-dms
    include dms/section-title-page
    include dms/section-standart-paket
    include index/section-articles-news
    include index/section-mobile-articles
    include dms/section-contact-page
    include index/section-have-question