extends ../layout/common

block variables
    - var title = 'Тест'
    - var pageClass = 'common-page'

block content
    include exam/section-test-baner
    include ../modules/breadcrumbs
    include exam/section-test-exam
    include index/section-have-question