extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include index/section-slider
	include index/section-rules
	include index/section-tests
	include index/section-baner-test
	include index/section-why-migdex
	include index/section-need-docs
	include index/section-index-video
	include index/section-reviews-real
	include index/section-articles-news
	include index/section-mobile-articles
	include index/section-have-question
