extends ../layout/common

block variables
    - var title = 'Партнерство'
    - var pageClass = 'common-page'

block content
    include partenariat/section-reviews-baner
    include ../modules/breadcrumbs
    include partenariat/section-title-page
    include partenariat/section-why-migdex
    include partenariat/section-partner-block
    //include partenariat/section-partner-lico
    include index/section-have-question