extends ../layout/common

block variables
    - var title = 'Разрешение на работу (ИР)'
    - var pageClass = 'common-page'

block content
    include solution-job/section-baner-page
    include ../modules/breadcrumbs
    include solution-job/section-title-page
    include solution-job/section-veto-page
    include solution-job/section-solution1
    include solution-job/section-solution2
    include solution-job/section-contact-page