extends ../layout/common

block variables
    - var title = 'Выбор субьекта'
    - var pageClass = 'common-page'

block content
    include subject/section-subject-baner
    include ../modules/breadcrumbs
    include subject/section-subject-migrant
    include index/section-have-question