extends ../layout/common

block variables
    - var title = 'Переводы'
    - var pageClass = 'common-page'

block content
    include traduction/section-reviews-baner
    include ../modules/breadcrumbs
    include traduction/section-traduction-1
    include traduction/section-traduction
    include traduction/section-traduction-2
    include traduction/section-how-much
    include traduction/section-contact-page
    include index/section-have-question