extends ../layout/common

block variables
    - var title = 'ТРКИ — Элементарный уровень'
    - var pageClass = 'common-page'

block content
    include trki-elementar-level/section-baner-page
    include ../modules/breadcrumbs
    include trki-elementar-level/section-title-page
    include trki-elementar-level/section-veto-page
    include trki-elementar-level/section-testing-includes
    include trki-elementar-level/section-contact-page
