section.veto-page.pt-0
    .container
        h3.section-title-medium Получение Гражданства РФ
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Как получить гражданство РФ
                        p.title-page-text Перед оформлением гражданства России предварительно требуется получение разрешения на временное проживание и вида на жительство. Однако есть категории граждан, для которых предусмотрены исключительные случаи, в которых оформление гражданства осуществляется без предварительного получения РВП и ВНЖ. Например, такие условия распространяются для граждан, признанных беженцами и прожившими не менее 1 года в России, либо имеющих особые заслуги перед отечеством, либо проходивших 3 года военной службы по контракту в РФ. Также эти условия распространяются на ветеранов ВОВ, пенсионеров или инвалидов при ряде определенных условий.
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text учебники и любая литература по русскому языку;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text тетради и бумага;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text магнитофоны, сотовые телефоны;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text фотоаппараты и другая записывающая техника.

                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        h3.title-page-about-exam.text-center Особенности и детали
                        p.title-page-text.text-center Особенностей и деталей, важных для оформления российского гражданства, очень много. Порядок прохождения всех этапов и процедур регламентируется Федеральным законом № 62 «О гражданстве РФ», однако разобраться во всех тонкостях и нюансах возможно только, имея определенный опыт и знания.
                        p.title-page-text.text-center Для получения услуг по консультированию и подготовке полного пакета документов для получения гражданства РФ возможна предварительная запись по телефону +7 (968) 406-01-10 или оставьте заявку


