section.section-title-docum.pb-0
    .container
        h3.section-title-medium Гражданство Российской Федерации
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        h3.title-page-about-exam Что такое Гражданствво РФ?
                        p.title-page-text Гражданство РФ (Гражданство) – это правовой статус, который дает человеку определенные права в государстве, чьим гражданином он является. Перед тем как получить гражданство, у иностранного гражданина должен быть оформлен вид на жительство.
                        h3.title-page-about-exam.fs-18 Иностранный гражданин может получить гражданство РФ в нескольких случаях:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text В общем порядке;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text В упрощенном порядке;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Вступив в государственную программу по переселению соотечественников
                        a.migdex-button-style.migdex-long-button.h-47(href="/") Онлайн-запись на подготовку документов

                .title-page-col-40
                    .title-page-col-content.blue-box
                        p.title-page-about-exam.text-center Закон о гражданстве РФ
                            p.title-page-text.text-center Федеральный закон «О Гражданстве Российской Федерации» существует с 2002 года. Это законодательство определяет гражданина РФ как физическое лицо, которое:
                            .rules-checked-items
                                .rules-checked-item
                                    .rules-check-item
                                    p.rules-text Имеет гражданство России на день утверждения ФЗ «О Гражданстве Российской Федерации», а именно на 1 июля 2002 года.
                                .rules-checked-item
                                    .rules-check-item
                                    p.rules-text Лицо, которое приобрело гражданство Российской Федерации в соответствии с законом после его вступления в силу.


                //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.
