section.section-title-docum.pb-0
    .container
        h3.section-title-medium.mb-5 Индивидуальные ситуации
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        p.title-page-text Специалисты центра окажут квалифицированную помощь в получении гражданства – проконсультируют, предоставят информацию, необходимую конкретно для вашей индивидуальной ситуации, помогут оформить полный комплект документов, необходимых для подачи в Отдел по вопросам гражданства УВМ ГУ МВД.
                        p.title-page-text Важно понимать, что перечень документов в каждом отдельном случае может отличаться в зависимости от того, на каком основании вы будете получать гражданство РФ. Могут понадобиться дополнительные справки и документы, которые не входят список основных документов.
                        a.migdex-button-style.migdex-long-button.h-47(href="/") Онлайн-запись на подготовку документов
                .title-page-col-40
                    .title-page-col-content.blue-box
                        h3.title-page-about-exam.text-center Паспорт РФ
                        p.title-page-text.text-center Документ, подтверждающий гражданство Российской федерации – это государственный паспорт гражданина РФ.
                        p.title-page-text.text-center По закону о российском гражданстве, человек, родившейся на территории России и при условии, что хотя бы один из его родителей является российским гражданином, автоматически получает в России гражданство, без дополнительных процедур и сложностей.
