section.contact-page
    .container
        h3.section-title-medium.mb-5 Как пройти тестирование?
        p.contact-page--text.col-xl-9 Частным лицам достаточно просто заполнить форму заявки на нашем сайте, либо связаться с менеджерами нашей компании по телефону. Корпоративным клиентам мы готовы разработать индивидуальную программу сотрудничества и приятно удивить дополнительными скидками!
        .contact-page--wrapper.blue-box.col-xl-9
            h3.contact-page-title-block Позвоните нам прямо сейчас:
            .contact-page-icon-phone
                a(href="tel:+79684060110").contact-page-icon-wrap
                    +icon('contact')
                a.contact-page--phone(href="tel:+79684060110") +7 (968) 406-01-10
        a.migdex-button-style.contact-page-exam-z(href="/") Запись на экзамен



