section.veto-page
    .container
        h3.section-title-medium.mb-5 Что делать, если я завалил тестирование?
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        p.title-page-text Выше мы указали проходные баллы для успешной сдачи экзамена, но что делать, если необходимое количество баллов не было набрано? Вместо сертификата мигрант получает справку, где будут указаны все результаты. По всем правилам ему будет предоставлена возможность на пересдачу, которая будет осуществляться в платном порядке.
                        h3.title-page-about-exam.title-page-about-exam-font-size В сумме длительность экзамена составляет 2 часа на 3 предмета:
                        p.title-page-text Мы предоставляем все необходимые условия для удачной сдачи тестирования на патент или разрешение на работу. Мы осуществляем подготовку с профессиональными репетиторами и учителями, проверяя мигрантов на пробных тестах, на вопросы к которым затем предоставляем правильные ответы, чтобы экзаменуемый мог оценить свои силы.
                .title-page-col-40
                    .title-page-col-content.blue-box
                        h3.title-page-about-exam.text-center Полезные материалы:
                        p.title-page-text Вы можете ознакомиться с пробным тестом с вопросами и ответами к экзамену на патент или разрешение на работу
                        .veto-page-materials
                            a.veto-page-mat(href="/static/img/general/pdf-link.pdf" target="_blank")
                                +icon('pdf')
                                p.veto-page-mat-text Типовой тест к Комплексному экзамену для получения патента или разрешения на работу (уровень ИР)
