section.title-page.why-need-exam.pb-0
    .container
        h3.section-title-medium.mb-5 Для чего вообще нужен этот экзамен?
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        p.title-page-text Экзамен для получения патента/разрешения на работу нужен для того, чтобы высшие госорганы, выдающие сертификат о знании русского языка на гражданство, были уверены в том, что мигрант, желающий получить эти документы, владел языком носителей страны на нужном уровне, а так же знает ее историю и нужные для жизни законы. Если мигрант думает, что это слишком много, то совсем наоборот, это – минимальный уровень знаний, который необходим для безопасного и комфортного осуществления трудовой деятельности в стране.
                        p.title-page-text Если соискатель по РВП причисляется к группе лиц, которым обязательно надо пройти тест на РВП, то миграционные сотрудники не будут принимать к рассмотрению его заявление, пока им не предоставят сертификат.
                        p.title-page-text Необходимо знать о том, что полученный для сдачи документов на РВП сертификат нельзя применять для того, чтобы обратиться за документом, который предоставит большее количество прав мигранту. Комплексное тестирование для ВНЖ имеет большую сложность, чем задания в экзамене для получения РВП. Отличия заключаются в системе оценивания, в которой для того, чтобы сдать экзамен с положительной отметкой, необходимо набрать 80%
                        //h3.title-page-about-exam Какие документы необходимы для сдачи тестирования?
                        //.rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text паспорт и его копия на русском языке, заверенная у нотариуса;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text карта мигранта (оригинал + копия);
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text документ, который подтвердит то, что мигрант зарегистрирован в стране;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text фотоаппараты и другая записывающая техника.
                .title-page-col-40
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        h3.title-page-about-exam.text-center Какие документы необходимы для сдачи тестирования?
                        //p.title-page-text.text-center Сдача экзамена для получения разрешения на работу или патента необходима всем мигрантам, которые не числятся среди льготных категорий, если они хотят получить права:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text паспорт и его копия на русском языке, заверенная у нотариуса;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text карта мигранта (оригинал + копия);
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text документ о регистрации;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Заявление на патент иностранному гражданину
                        a.rules-download-blank.pt-4(href="/" download=) Скачать бланк заявления
                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.
