section.title-page.why-need-exam.pb-0
    .container
        h3.section-title-medium.mb-5 Какая структура у заданий тестирования?
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.patern-padding-block.title-page-col-width.blue-box
                        h3.title-page-about-exam.title-page-about-exam-font-size В сумме длительность экзамена составляет 2 часа на 3 предмета:

                        p.title-page-text #[span Русский язык.] Как иностранный включает в себя 5 частей, на которые мигранту выделяют 75 минут. Для того, чтобы мигрант получил сертификат по русскому языку, ему надо сдать экзамен минимум на 180 баллов в сумме за все пять разделов теста. Он включает в себя все необходимые для жизни в России части русского языка: лексику, грамматику, аудирование и проверка чтения и письма.
                        p.title-page-text #[span История Российской Федерации.] На сдачу которой выделяется 30 минут. Для удачного прохождения теста мигрант должен написать его минимум на 50%. Проверяться будут события, произошедшие с момента образования Древнерусского государства и по нынешнее время. Так же у мигранта проверят знание персоналии и важных дат, понимание культуры и праздников.
                        p.title-page-text #[span Основы законов РФ.] Времени дается столько же, сколько и на историю – ровно 30 минут. Процент на успешное прохождение тот же – 50%. В основном вопросы будут задевать территории страны и конституционные нормы. Так же у мигранта попросят показать то, как он понимает свои права и обязанности, знание основных законодательных положений касающихся документа, который он хочет получить: сроки действия и прочее.
                .title-page-col-40
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        h3.title-page-about-exam.text-center Где пройти экзамен?
                        p.title-page-text.text-center Тест на патент или разрешения на работу в 2020 году проходят почти во всех городах России и сдаются по месту проживания мигранта или же в центрах помощи, у которых есть полномочия на выдачу сертификата для получения гражданства. Мигранту просто нужно найти организацию, которая предоставит вам нужную услугу и профессиональных учителей для подготовки.
                        h3.title-page-about-exam.text-center Образец Патента
                        img.title-page-patern__img(src="/static/img/general/patern.jpg")