section.title-page.pb-0
    .container
        h3.section-title-medium.mb-5 Экзамен для получения патента или разрешения на работу (уровень ИР)
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        h3.title-page-about-exam Тестирование на патент или разрешение на работу: что надо знать?
                        p.title-page-text Значительная часть мигрантов едут в Россию для осуществления рабочей и трудовой деятельности, но не все знают, что для легальной и безопасной работы надо оформлять разрешение на работу или патент. Как? Надо проходить тест на патент или разрешение на работу, по успешной сдачи которого вам выдадут сертификат по русскому языку.
                        p.title-page-text Все это нужно для того, чтобы миграционные органы убедились в том, что мигрант знает русский язык и сможет нормально общаться с окружающими его людьми в случае чего.
                .title-page-col-40
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        h3.title-page-about-exam.text-center Какие группы иностранных граждан обязаны проходить тестирование?
                        p.title-page-text.text-center Сдача экзамена для получения разрешения на работу или патента необходима всем мигрантам, которые не числятся среди льготных категорий, если они хотят получить права:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text длительного проживания на территории страны;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text осуществления трудовой деятельности на любых условиях (по разрешению или визе).
                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.


        p.title-page-exam-test С 01 января 2015 года в соответствии с Федеральным законом Российской Федерации от 20.04.2014 г. №74-ФЗ «О внесении изменений в Федеральный закон «О правовом положении иностранных граждан в Российской Федерации» каждый иностранный гражданин при обращении за получением разрешения на работу, патента, разрешения на временное проживание или вида на жительство в Российской Федерации, гражданство Российской Федерации обязан подтвердить владение русским языком, знание истории России и основ законодательства Российской Федерации.



