section.partner-lico
    .container
        h3.section-title-medium.mb-4 Оставьте заявку для сотрудничества
        .partner-fiz-ur-face.blue-box
            .partner-fiz-ur-face-buttons
                .partner-ur-face-wrap.active
                    .partner-ur-face-button.active(partner="ur-face") Юридическое лицо
                .partner-ur-face-wrap
                    .partner-ur-face-button(partner="fiz-face") Физическое лицо
            .partner-fiz-ur-face-content
                include partner-forms/partner-ur
                include partner-forms/partner-fiz
