section.about-us.pb-0
    .container
        h3.section-title-medium.mb-5 Добро пожаловать в партнерский раздел!
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Партнерам
                        p.title-page-text Если Вы являетесь представителем компании и частным предпринимателем, работающем в сфере Сфера 1, Сфера 2, Сфера 3 — приглашаем Вас стать нашим партнером!
                        p.title-page-text Статус Партнера получают только те компании, которые прошли аттестацию и аудит представителей MigdexEDU. Наши сертифицированные Партнеры должны соответствовать всем требованиям, а также умениям и навыкам специалистов.
                        a.migdex-button-style.stay-partner(href="/") Стать партнером
                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-about-exam Для оформления заявки на сотрудничество требуется следующие данные:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Личные данные: номер телефона, email, дата рождения и адрес, так же требуется указать сферу и вид деятельности — для физических лиц.
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Данные компании: название, инн/кпп, контакты, адрес, так же требуется указать сферу и вид деятельности — для юридических лиц.
                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.








