section.index-why-migdex.pb-0
    .container
        h3.section-title-medium.migdex-title Преимущества для партнера
        .index-why-migdex-cards
            .index-why-migdex-card.blue-box
                +icon('money')
                h3.index-why-migdex-title Регулярное вознаграждение
            .index-why-migdex-card.blue-box
                +icon('like')
                h3.index-why-migdex-title Специальные условия для партнеров
            .index-why-migdex-card.blue-box
                +icon('handshake')
                h3.index-why-migdex-title Официальное сотрудничество через договор
            .index-why-migdex-card.blue-box
                +icon('contact2')
                h3.index-why-migdex-title Легкая форма подачи заявки для сотрудничества
