section.about-us.pb-0
    .container
        h3.section-title-medium.mb-5 Что дает партнёрство с нами?
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Поддержка
                        p.title-page-text Migdex позволяет Партнеру непосредственно сосредоточиться на бизнесе, не думая о создании и поддержании дорогостоящей инфраструктуры.
                        p.title-page-text Компания осуществляет маркетинговую и IT поддержку,, выполняет документооборот и полное сопровождение сделок. Клиентам доступен широкий перечень услуг Компании.
                        .migdex-button-style.stay-partner(data-toggle="modal" data-target="#popup-modal-partner") Стать партнером
                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.partner-relative.blue-box
                        p.title-page-about-exam.text-center Пример договора
                        .partner-img-wrap
                            a.partner-img--link(data-fancybox="images" href="static/img/general/partner/partner1.png")
                                img.partner-img(src="static/img/general/partner/partner1.png")
                            a.partner-img--link(data-fancybox="images" href="static/img/general/partner/partner2.png")
                                img.partner-img(src="static/img/general/partner/partner2.png")
                        a.prices-download.partner-absolute-doc(href="/")
                            +icon('download')
                            span Пример договора