section.baner-page
    .container
        .baner-page-content
            h3.baner-page-title Полезные статьи и свежие новости
            a.migdex-button-style.baner-page-emax.reg-to-exam(href="/") Запись на экзамен