section.articles-and-news.pb-0
    .container
        h3.section-title-medium.index-video-title Блог
        .tabs-articles--wrap.tabs-articles-desk.mt-5
            .tab-article.migdex-button-style-blue.migdex-button-active(tabs="all-reviews") Статьи
            .tab-article.migdex-button-style-blue(tabs="all-news") Новости
        //.tabs-articles--wrap.tabs-articles-mob.mt-5
        //    .tab-article.migdex-button-style-blue.migdex-button-active(tabs2="all-reviews2") Статьи
        //    .tab-article.migdex-button-style-blue(tabs2="all-news2") Новости
        .article-content-tabs
            include section-migdex-articles
            include section-migdex-news
            //include section-news
            //include section-articles-mobile
            //include section-news-mobile
