.article-news-tabs.article-news-tabs-desktop.all-reviews.index-articles-news.active
    .index-art-news-wrapper
        .index-articles-news--wrap
            .index-articels--wrap.articles-and-news--wrap
                .index-video-title--link__wrap.index-art-news--title__wrap
                .migdex-articles-list
                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019


                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                    article.migdex-article-item2
                        a.migdex-article-item__img--link(href="/")
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                        .index-article-mobile-wrap
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            .index-news-link-date
                                a.index-article--link(href="/") Подробнее
                                span 14.02.2019

                a.migdex-button-style.news-show-more.mt-4(href="/") Показать еще