section.baner-page
    .container
        .baner-page-content
            h3.baner-page-title Запись на экзамен
            a.migdex-button-style.baner-page-emax.go-to-test(href="/") Пройти пробный тест