section.subtest-exam
    .container
        h3.section-title-medium.mb-5 Комплексный экзамен для мигрантов
        .subtest-migrant-wrapper
            .subtest-migrant-item.blue-box
                .subtest-migrant-item-remise
                    .subtest-migrant-remise -20%
                +icon('head')
                h3.title-exam-card.subtest-migrant-card Разрешение на работу
                    span (ИР)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                .subtest-exam-summ
                    span.subtest-summ 4 000 ₽
                    span.subtest-prev-summ 4 900 ₽
                a.migdex-button-style.subtest-button(data-toggle="modal" data-target="#popup-register-exam") Запись на экзамен
            .subtest-migrant-item.blue-box
                .subtest-migrant-item-remise
                    .subtest-migrant-remise -20%
                +icon('clock2')
                h3.title-exam-card.subtest-migrant-card Временное проживание
                    span (РВП)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                .subtest-exam-summ
                    span.subtest-summ 4 000 ₽
                    span.subtest-prev-summ 4 900 ₽
                a.migdex-button-style.subtest-button(data-toggle="modal" data-target="#popup-register-exam") Запись на экзамен
            .subtest-migrant-item.blue-box
                .subtest-migrant-item-remise
                    .subtest-migrant-remise -20%
                +icon('room-key')
                h3.title-exam-card.subtest-migrant-card Вид на жительство
                    span (ВНЖ)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                .subtest-exam-summ
                    span.subtest-summ 4 000 ₽
                    span.subtest-prev-summ 4 900 ₽
                a.migdex-button-style.subtest-button(data-toggle="modal" data-target="#popup-register-exam") Запись на экзамен
            .subtest-migrant-item.blue-box
                .subtest-migrant-item-remise
                    .subtest-migrant-remise -20%
                +icon('visa')
                h3.title-exam-card.subtest-migrant-card Гражданство
                    span РФ
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                .subtest-exam-summ
                    span.subtest-summ 4 000 ₽
                    span.subtest-prev-summ 4 900 ₽
                a.migdex-button-style.subtest-button(data-toggle="modal" data-target="#popup-register-exam") Запись на экзамен