section.baner-page
    .container
        .baner-page-content
            h3.baner-page-title Компания “MigdexEDU”
            a.migdex-button-style.baner-page-emax.reg-to-exam(href="/") Запись на экзамен