section.about-us.pb-0
    .container
        h3.section-title-medium.mb-5 О нас
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        h3.title-page-about-exam MigdexEDU
                        p.title-page-text Мы рад предложить Вам услуги по обеспечению законного нахождения иностранных граждан на территории Российской Федерации. Миграционная политика России ставит не простые задачи перед зарубежными компаниями в рамках оформления трудовой деятельности своих сотрудников. Обширная география регионов, особенности местных властей, юридические тонкости и языковой барьер – все это создает трудности для работы иностранных компаний.
                        a.migdex-button-style(href="/") Запись на экзамен
                .title-page-col-40
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-text MigdexEDU является лидером в данной сфере, но это не предел. Мы готовы расти и развиваться дальше благодаря вам! Также мы осуществляем:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text прохождение медосмотров;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text аккредитованный перевод документов;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text предоставляет консультации по миграционным вопросам;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text и другие миграционные услуги.
                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.

