section.index-why-migdex
    .container
        h3.section-title-medium.migdex-title Почему стоит выбрать Migdex
        .index-why-migdex-cards
            .index-why-migdex-card.blue-box
                +icon('docum')
                h3.index-why-migdex-title Наличие собственных образовательных лицензий
            .index-why-migdex-card.blue-box
                +icon('school')
                h3.index-why-migdex-title Прямой договор с ведущим базовым вузом России - РУДН
            .index-why-migdex-card.blue-box
                +icon('teacher')
                h3.index-why-migdex-title Более 150 аттестованных преподавателей
            .index-why-migdex-card.blue-box
                +icon('hand')
                h3.index-why-migdex-title Многолетний опыт работы и ключевой партнер РУДН
            .index-why-migdex-card.blue-box
                +icon('hour')
                h3.index-why-migdex-title Получение сертификата через 2-4 дня после сдачи экзамена!
            .index-why-migdex-card.blue-box
                +icon('piggy')
                h3.index-why-migdex-title Низкие цены и специальные условия для партнёров (скидки)
            .index-why-migdex-card.blue-box
                +icon('dip')
                h3.index-why-migdex-title Наша компания имеет законное право на выдачу сертификатов!
            .index-why-migdex-card.blue-box
                +icon('winner')
                h3.index-why-migdex-title 97% наших клиентов проходят экзамен с первого раза