section.index-mobile-articles
    .container
        .index-art-news-wrapper
            .index-articles-news--wrap
                .index-articels--wrap
                    .index-video-title--link__wrap.index-art-news--title__wrap
                        h3.section-title-medium.index-art-news--title Интересные статьи
                        a.index-video-review__link(href="/") Все статьи
                    .index-articles-list.index-articles-list-wrapper
                        article.index-article-item
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                            .index-article-mobile-wrap
                                p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                                .index-news-link-date
                                    a.index-article--link(href="/") Подробнее
                                    span 14.02.2019
                        article.index-article-item
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                            .index-article-mobile-wrap
                                p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                                .index-news-link-date
                                    a.index-article--link(href="/") Подробнее
                                    span 14.02.2019
                        article.index-article-item
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                            .index-article-mobile-wrap
                                p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                                .index-news-link-date
                                    a.index-article--link(href="/") Подробнее
                                    span 14.02.2019
                        article.index-article-item
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                            .index-article-mobile-wrap
                                p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                                .index-news-link-date
                                    a.index-article--link(href="/") Подробнее
                                    span 14.02.2019
                        article.index-article-item
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                            .index-article-mobile-wrap
                                p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                                .index-news-link-date
                                    a.index-article--link(href="/") Подробнее
                                    span 14.02.2019
                    a.migdex-button-style.index-mobile-articles-button(href="/") Все статьи

