section.rules
    .container
        .rules-line
            .rules-50
                .rules-content-block.blue-box
                    h3.rules-title Законодательство
                    p.rules-text Начиная с 1 января 2014 миграционное законодательство на территории РФ ужесточено!
                    p.rules-text В течение 90 дней после въезда на территорию РФ вы обязаны выехеать из страны. Повторный въезд в страну возможен не ранее чем через 3 месяца, если у вас нет соответствующих документов!
            .rules-50
                .rules-img
                    img.rules-40--img(src="/static/img/general/rules/rules1.png")
        .rules-line
            .rules-50
                .rules-content-block.blue-box
                    h3.rules-title Требования
                    p.rules-text Начиная с 1 января 2015 года иностранные граждане, которые хотят получить разрешение на работу, патент, РВП, ВЖ, должны подтвердить знание требуемых дисциплин сертификатом.
                    .rules-checked-items
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text Уровень владения русским языком
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text Уровень знаний истории России
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text Уровень знаний основ законодательства Российской Федерации
            .rules-50
                .rules-img
                    img.rules-40--img(src="/static/img/general/rules/rules2.png")
                    .rules-img-text
                        p В СЛУЧАЕ НАРУШЕНИЯ
                        p.rules-img-text-shadow 5
                        p.rules-img-text-shadow ЛЕТ ЗАПРЕТА НА ВЪЕЗД В РОССИЮ

