section.index-have-question
    .container
        .index-have-question--wrap
            h3.section-title-medium.index-have-question--title Остались вопросы?
            p Оставьте заявку, наш менеджер свяжется с Вами в течении 10 минут!
            form.index-have-question-form
                .index-question-inputs-wrap.col-xl-7
                    .index-have-question-inputs.desktop-have-question.question-form-name
                        label Ваше имя
                        input.input-index-form(type="text")
                    .index-have-question-inputs.desktop-have-question.question-form-phone
                        label Ваш телефон
                        input.input-index-form.mask-phone(type="text")
                    .index-have-question-inputs.mobile-have-question
                        input.input-index-form(type="text" placeholder="Имя")
                        input.input-index-form.mask-phone(type="text" placeholder="Номер телефона")
                button.migdex-button-style.button-submit-question(type="submit") Отправить заявку