section.index-baner-test
    .container
        .row
            .index-baner-test-wrap.col-xl-10.col-lg-10
                .index-baner-test-text.col-xl-7.col-lg-7
                    h3.section-title-medium Пройдите пробное тестирование онлайн прямо сейчас
                    h3.index-baner-its-free Это бесплатно!
                    a.migdex-button-style.index-baner-test-start(href="/") Пройти пробный тест
                .index-baner-test-img.col-xl-5.col-lg-5

