section.index-slider
    .js-index-slider
        .index-slider__img--wrap
            img.index-slider__img(src="static/img/general/sliderMain/slide-1.jpg")
            .index-slider-content-info
                h2.section-title.index-slider-content-title Тестирование для получения гражданства РФ
                p.index-slider-content-text Получение государственного сертификата на
                    span 5 лет
                .index-slider-content-button
                    a.migdex-button-style(href="/subtest-exam.html") Запись на экзамен
                .index-slider-content-test
                    .index-slider-content-test--wrap
                        p.index-slider-text-test__white Оцените свои силы заранее!
                        p.index-slider-text-test__yellow ПРОЙТИ ПРОБНЫЙ ТЕСТ
                        +icon('Arrow')
                        .index-slider-content-test-button
                            a(href="/subject.html")
                                +icon('test')
        .index-slider__img--wrap
            img.index-slider__img(src="static/img/general/sliderMain/slide-1.jpg")
        .index-slider__img--wrap
            img.index-slider__img(src="static/img/general/sliderMain/slide-1.jpg")
        .index-slider__img--wrap
            img.index-slider__img(src="static/img/general/sliderMain/slide-1.jpg")
    // .js-index-slider
    .js-index-slider-dots--wrap
    // .js-index-slider-dots--wrap
// section.index-slider
