section.index-need-docs
    .container
        h3.section-title-medium.need-docs-title Необходимые документы
        p.index-need-docs-text.col-xl-10.col-lg-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget non neque turpis volutpat pellentesque elementum purus. Tortor turpis adipiscing tincidunt ut. Nisl risus magna hendrerit vehicula fermentum risus lobortis.
        .index-need-docs-elems.col-xl-10.col-lg-10.col-md-12.col-sm-12
            .index-need-docs-elem--wrap
                .index-need-docs-elem
                    +icon('pass')
                .index-need-docs--name
                    span 1)
                    p Паспорт
            .index-need-docs-elem--wrap.need-docs-punktir
                .index-need-docs-elem
                    +icon('paper')
                .index-need-docs--name
                    span 2)
                    p Перевод паспорта
            .index-need-docs-elem--wrap
                .index-need-docs-elem
                    +icon('clip')
                .index-need-docs--name
                    span 3)
                    p Миграционная карта
