section.index-video
    .container
        .index-video-title--link__wrap
            h3.section-title-medium.index-video-title Реальные видео отзывы клиентов
            a.index-video-review__link(href="/") Все отзывы
        .index-video-slider--wrapper
            .index-video-slider
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/videoSlider/video2.png')")
                    .icon-preload
                        +icon('play')
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/videoSlider/video2.png')")
                    .icon-preload
                        +icon('play')
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/videoSlider/video2.png')")
                    .icon-preload
                        +icon('play')
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/videoSlider/video2.png')")
                    .icon-preload
                        +icon('play')
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/videoSlider/video2.png')")
                    .icon-preload
                        +icon('play')
            .index-video-slider__controls
                .index-video-slider--prev.index-video--controls
                    +icon('left-arrow')
                .index-video-slider--next.index-video--controls
                    +icon('right-arrow')
            .index-video-slider-dots--wrap

        .index-mobile-video-slider--wrapper-main
            .index-mobile-video-slider--wrapper
                .index-mobile-video-slider--item
                    a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
                        .index-video-mobile-slider(style="background-image:url('static/img/general/videoSlider/video2.png')")
                            +icon('play')
                .index-mobile-video-slider--item
                    a(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                        .index-video-mobile-slider(style="background-image:url('static/img/general/videoSlider/video1.png')")
                            +icon('play')
                .index-mobile-video-slider--item
                    a(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                        .index-video-mobile-slider(style="background-image:url('static/img/general/videoSlider/video2.png')")
                            +icon('play')
                .index-mobile-video-slider--item
                    a(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                        .index-video-mobile-slider(style="background-image:url('static/img/general/videoSlider/video2.png')")
                            +icon('play')
                .index-mobile-video-slider--item
                    a(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                        .index-video-mobile-slider(style="background-image:url('static/img/general/videoSlider/video2.png')")
                            +icon('play')
            .index-mobile-slider-dots--wrap
