section.index-tests
    .container
        h3.section-title-medium Комплексный экзамен для мигрантов
        .exam-index-cards
            .exam-index-card.blue-box
                .exam-index-icon--title__wrap
                    +icon('head')
                    h3.title-exam-card Разрешение на работу (ИР)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                a.exam-index-card--link(href="/") Подробнее
            .exam-index-card.blue-box
                .exam-index-icon--title__wrap
                    +icon('clock2')
                    h3.title-exam-card Временное проживание (РВП)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                a.exam-index-card--link(href="/") Подробнее
            .exam-index-card.blue-box
                .exam-index-icon--title__wrap
                    +icon('room-key')
                    h3.title-exam-card Вид на жительство (ВНЖ)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                a.exam-index-card--link(href="/") Подробнее
            .exam-index-card.blue-box
                .exam-index-icon--title__wrap
                    +icon('visa')
                    h3.title-exam-card Гражданство РФ
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                a.exam-index-card--link(href="/") Подробнее
        .mobile-slider-dots--wrap

section.index-tests.index-tests2
    .container
        h3.section-title-medium Тестирование по русскому языку (ТРКИ) - Уровень
        .exam-index-cards.exam-index-cards-2
            .exam-index-card-2.blue-box
                .exam-index-icon--title__wrap
                    +icon('abs')
                    h3.title-exam-card Элементарный (ТЭУ / A1)
                p.exam-index-card--text Ситуации общения с носителями языка связаны с бытовой и социально-культурной сферами, при этом набор языковых средств, обеспечивающих общение в сферах жизни, строго минимизирован.
                a.exam-index-card--link(href="/") Подробнее
            .exam-index-card-2.blue-box
                .exam-index-icon--title__wrap
                    +icon('book')
                    h3.title-exam-card Базовый (ТБУ / A2)
                p.exam-index-card--text Это начальный уровень коммуникативной компетенции. Также, достижение данного уровня позволяет заниматься какой-либо профессиональ- ной деятельностью, но не в полном объеме.
                a.exam-index-card--link(href="/") Подробнее
            .exam-index-card-2.blue-box
                .exam-index-icon--title__wrap
                    +icon('mortarboard')
                    h3.title-exam-card Первый (ТРКИ-1 / B1)
                p.exam-index-card--text Сертификат данного уровня необходим для поступления в российский вуз с обязательным последующим изучением русского языка.
                a.exam-index-card--link(href="/") Подробнее
            .exam-index-card-2.blue-box
                .exam-index-icon--title__wrap
                    +icon('sketch')
                    h3.title-exam-card Второй (ТРКИ-2 / B2)
                p.exam-index-card--text Этот уровень позволяет иностранному гражданину вести профессиональную деятельность на русском языке в качестве специалиста гуманитарного, инженерно-технического и других профилей.
                a.exam-index-card--link(href="/") Подробнее
            .exam-index-card-2.blue-box
                .exam-index-icon--title__wrap
                    +icon('translation')
                    h3.title-exam-card Третий (ТРКИ-3 / C1)
                p.exam-index-card--text Этот уровень позволяет иностранному гражданину вести профессиональную деятельность на русском языке в качестве специалиста-филолога, переводчика, редактора, дипломата и т.д.
                a.exam-index-card--link(href="/") Подробнее
            .exam-index-card-2.blue-box
                .exam-index-icon--title__wrap
                    +icon('medal')
                    h3.title-exam-card Четвертый (TРКИ-4 / C2)
                p.exam-index-card--text Экзамен на данный уровень подтверждает высокий уровень владения русским языком, близкий к уровню носителя языка.
                a.exam-index-card--link(href="/") Подробнее
        .mobile-slider-dots--wrap2
