section.index-articles-news
    .container
        .index-art-news-wrapper
            .index-articles-news--wrap
                .index-articels--wrap
                    .index-video-title--link__wrap.index-art-news--title__wrap
                        h3.section-title-medium.index-art-news--title Статьи
                        a.index-video-review__link(href="/") Все статьи
                    .index-articles-list
                        article.index-article-item
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            a.index-article--link(href="/") Подробнее

                        article.index-article-item
                            .index-article-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                                .index-article-img-date
                                    span 14.02.2019
                            p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis tempor id.
                            a.index-article--link(href="/") Подробнее


                .index-news--wrap
                    .index-video-title--link__wrap.index-art-news--title__wrap
                        h3.section-title-medium.index-art-news--title Новости
                        a.index-video-review__link(href="/") Все новости
                    .index-news-list
                        article.index-news-item
                            .index-news-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                            .index-news-content--wrap
                                p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis.
                                .index-news-link-date
                                    a.index-article--link(href="/") Подробнее
                                    span 14.02.2019
                        article.index-news-item
                            .index-news-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                            .index-news-content--wrap
                                p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis.
                                .index-news-link-date
                                    a.index-article--link(href="/") Подробнее
                                    span 14.02.2019
                        article.index-news-item
                            .index-news-img--wrap(style="background-image: url('/static/img/general/rules/rules1.png')")
                            .index-news-content--wrap
                                p.index-article--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus urna mattis.
                                .index-news-link-date
                                    a.index-article--link(href="/") Подробнее
                                    span 14.02.2019
