section.veto-page.pt-0
    .container
        h3.section-title-medium.mb-5 Информация о работе Комиссии ГУ МВД России по распределению квоты
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        p.title-page-text Начиная с 1 января 2019 года иностранные граждане и лица без гражданства вправе обратиться в Комиссию ГУ МВД по СПб и ЛО с заявлением о выделении квоты на выдачу разрешения на временное проживание. Заявления, поданные с нарушением формы, некорректно заполненными графами, а также при отсутствии необходимых документов, к рассмотрению не принимаются.
                        p.title-page-text Проконсультировать по интересующим вопросам и осуществить подготовку документов вам помогут квалифицированные консультанты отдела подготовки документов в Едином центре документов.
                        a.migdex-button-style.migdex-long-button.h-47(href="/") Онлайн-запись на подготовку документов
                .title-page-col-40
                    .title-page-col-content.blue-box
                        h3.title-page-about-exam.text-center Полезные материалы:
                        p.title-page-text.text-center Заявления, направленные посредством почтовых отправлений с описью вложения, принимаются до полного распределения квоты.
                        .veto-page-materials
                            a.veto-page-mat(href="/static/img/general/pdf-link.pdf" target="_blank")
                                +icon('pdf')
                                p.veto-page-mat-text Образец заполнения конверта для направления в Комиссию