section.section-block-columns.pb-0
    .container
        h3.section-title-medium Услуги
        .servis-section-block-wrap.row
            .servis-section-block-list.col-lg-4.col-md-6.col-sm-6.p-3
                .servis-section-block-item.blue-box
                    +icon('docum')
                    h3.index-why-migdex-title.justify-content-center Перевод и нотариальное удостоверение документов
            .servis-section-block-list.col-lg-4.col-md-6.col-sm-6.p-3
                .servis-section-block-item.blue-box
                    +icon('man_1')
                    h3.index-why-migdex-title.justify-content-center Заполнение необходимых документов
            .servis-section-block-list.col-lg-4.col-md-6.col-sm-6.p-3
                .servis-section-block-item.blue-box
                    +icon('offer_1')
                    h3.index-why-migdex-title.justify-content-center Срочное медицинское освидетельствование
            .servis-section-block-list.col-lg-4.col-md-6.col-sm-6.p-3
                .servis-section-block-item.blue-box
                    +icon('tax-free_1')
                    h3.index-why-migdex-title.justify-content-center Комплексный экзамен по русскому языку
            .servis-section-block-list.col-lg-4.col-md-6.col-sm-6.p-3
                .servis-section-block-item.blue-box
                    +icon('contract_1')
                    h3.index-why-migdex-title.justify-content-center Правовой анализ ситуации и документов
            .servis-section-block-list.col-lg-4.col-md-6.col-sm-6.p-3
                .servis-section-block-item.blue-box
                    +icon('camera_1')
                    h3.index-why-migdex-title.justify-content-center Фотографирование