section.section-title-docum.pb-0
    .container
        h3.section-title-medium Законодательство
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Общие положения Законодательства РФ:
                        p.title-page-text В соответствии с Федеральным законом от 25.07.2002г. № 115-ФЗ «О правовом положении иностранных граждан в Российской Федерации», для временного проживания в Российской Федерации, иностранный гражданин или лицо без гражданства должны получить разрешение на временное проживание (РВП).
                        p.title-page-text Срок действия РВП составляет три года. РВП продлению не подлежит.
                        a.migdex-button-style.migdex-long-button.h-47(href="/") Онлайн-запись на подготовку документов

                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-about-exam Срок рассмотрения заявления иностранного гражданина о выдаче РВП:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text 4 месяца с даты подачи заявления о выдаче РВП (для граждан, прибывших в Российскую Федерацию по визе)
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text 60 суток с даты подачи заявления о выдаче РВП (для граждан, прибывших в Российскую Федерацию в порядке, не требующем получения визы)

                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.
