section.section-title-docum.pb-0
    .container
        h3.section-title-medium Разрешение на временное проживание (РВП)
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Что такое разрешение на временное проживание?
                        p.title-page-text Разрешение на временное проживание (РВП) — это документ, позволяющий иностранцу проживать и работать в России в течение трех лет. Проживание на основании РВП — это, за редким исключением, первый этап получения российского гражданства.
                        p.title-page-text Прожив в стране как минимум один год на основании разрешения на временное проживание, вы можете получить вид на жительство, а уже затем — российское гражданство.
                        a.migdex-button-style.migdex-long-button.h-47(href="/") Онлайн-запись на подготовку документов

                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-about-exam После получения РВП вы можете:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text работать в России без получения миграционных патентов и разрешений;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text оформить регистрацию по месту жительства на срок действия РВП;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text зарегистрироваться как индивидуальный предприниматель и официально заниматься бизнесом;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text получить визу временно проживающего лица, позволяющую находиться в России на протяжении трех лет безвыездно (для граждан стран, имеющих визовый режим с Россией);
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text по истечении срока действия РВП подать документы на получение вида на жительство в России

                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.
