section.exam-test
    .container
        .exam-test-wrapper
            .exam-test-info.blue-box
                .exam-test-info-time--wrap
                    h3.exam-test-info--title Граматика
                    .exam-test-info-time 08:37
                .exam-test-info-count-question
                    ul.exam-test-info-counts
                        li.exam-test-info-count.exam-test-count-big 3
                        li.exam-test-info-count 20
            .exam-test-content.blue-box
                h3.exam-test-info--title Вопрос №3
                .exam-test-info-question
                    p - Где выработаете?
                    p - Я ... документы в паспортном столе
                form.exam-test-info-question-send
                    .exam-test-info-question-variant
                        label
                            input.exam-modal-input-check__input(type="radio" name="exam_test")
                            .exam-test-info-variant-check
                                .exam-test-info-variant-dot
                                span.exam-test-info-variant-name оформлять
                    .exam-test-info-question-variant
                        label
                            input.exam-modal-input-check__input(type="radio" name="exam_test")
                            .exam-test-info-variant-check
                                .exam-test-info-variant-dot
                                span.exam-test-info-variant-name оформляют
                    .exam-test-info-question-variant
                        label
                            input.exam-modal-input-check__input(type="radio" name="exam_test")
                            .exam-test-info-variant-check
                                .exam-test-info-variant-dot
                                span.exam-test-info-variant-name оформляю
                    //button.migdex-button-style.migdex-exam-button-next(type="submit") Далее
                    .migdex-button-style.migdex-exam-button-next(data-toggle="modal" data-target="#popup-exam-complite") Далее
