footer
  flex 0 0 auto
  background: #2B2F3F;
  box-shadow: 0px 0px 15px rgba(34, 34, 34, 0.3);
  padding 60px 0

.footer-blocks--wrap
  display flex

.footer-blocks
  width 23%

  &:first-child
    margin-right 70px

  .icon
    width 117px
    height: 70px;
    margin-bottom 30px

.footer-blocks--title
  font-family: "Oswald SB", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  text-transform uppercase

  a
    color #fff

.footer-gray--item
  font-family "Open Sans Reg",sans-serif
  font-size 14px
  margin-bottom 8px
  a
    color rgba(255, 255, 255, 0.61)

.footer-margin-gray
  margin-bottom 10px

.footer-contacts-info
  margin-bottom 30px
.footer-gray--item

  p
    color rgba(255, 255, 255, 0.6)
.footer-order-call
  width 210px
.footer-logo-call
  display flex
  flex-direction column
  align-items center
.footer-copy-wrap
  display flex
  justify-content space-between
  align-items center
  width 100%

.footer-copy-conf-wrap
  width 65%
  color rgba(255, 255, 255, 0.6)
  font-family "Open Sans Reg",sans-serif
  font-size 14px
  span
    margin-right 77px

  a
    color rgba(255, 255, 255, 0.6)
.footer-copyright
  background-color #363949
  padding 15px 0

.social-menu
  display flex
  justify-content center
  align-items center
  width 35%

  a
    margin-right 24px

    &:last-child
      margin-right 0

  .icon
    size(20px)
    fill #fff
