section.testing-includes
    .container
        h3.section-title-medium.mb-5 Тестирование включает в себя
        .testing-includes--wrapper
            .testing-includes--list
                .testing-includes--item.blue-box
                    .testing-includes--item-icon-num
                        .testing-includes--item-icon
                            +icon('instruction')
                        .testing-includes--item--number 01
                    h3.title-exam-card.mb-3 Чтение
                    p.testing-includes--item--text Уметь читать и понимать простые предложения, в частности, в объявлениях, на плакатах, понимать основную и дополнительную информацию небольшого адаптированного текста.
                .testing-includes--item.blue-box
                    .testing-includes--item-icon-num
                        .testing-includes--item-icon
                            +icon('script')
                        .testing-includes--item--number 02
                    h3.title-exam-card.mb-3 Письмо
                    p.testing-includes--item--text Уметь написать текст о себе, друзьях, семье, рабочем дне, своем свободном времени (не менее 7 фраз по предложенным вопросам).
                .testing-includes--item.blue-box
                    .testing-includes--item-icon-num
                        .testing-includes--item-icon
                            +icon('headphones')
                        .testing-includes--item--number 03
                    h3.title-exam-card.mb-3 Аудирование
                    p.testing-includes--item--text Уметь понимать основную информацию (тему, основное содержание и коммуникативные намерения) коротких диалогов и монологов в ситуациях повседневного общения.
                .testing-includes--item.blue-box
                    .testing-includes--item-icon-num
                        .testing-includes--item-icon
                            +icon('speech-bubble')
                        .testing-includes--item--number 04
                    h3.title-exam-card.mb-3 Говорение
                    p.testing-includes--item--text Уметь написать текст о себе, друзьях, семье, рабочем дне, своем свободном времени (не менее 7 фраз по предложенным вопросам).
                .testing-includes--item.blue-box
                    .testing-includes--item-icon-num
                        .testing-includes--item-icon
                            +icon('notes')
                        .testing-includes--item--number 05
                    h3.title-exam-card.mb-3 Лексико-грамматические навыки
                    p.testing-includes--item--text Уметь написать текст о себе, друзьях, семье, рабочем дне, своем свободном времени (не менее 7 фраз по предложенным вопросам).
            .testing-includes-dots--wrap