section.veto-page
    .container
        h3.section-title-medium.mb-5 Перечень запрещенных во время тестирования предметов
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        p.title-page-text При выполнении отдельных тестовых заданий разрешается использование толкового словаря, который приносится с собой. Не забудьте принести паспорт и ручку. Перед началом теста внимательно послушайте задание, и лишь потом начините его выполнение. Напоминаем, что Центр помощи мигрантам «МИР» содержит в своем штабе специалистов и профессиональных учителей, которые занимаются подготовкой иностранных граждан к тестированиям, поэтому если вы не уверены в своих силах – запишитесь на консультацию к нашим специалистам.
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text учебники и любая литература по русскому языку;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text тетради и бумага;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text магнитофоны, сотовые телефоны;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text фотоаппараты и другая записывающая техника.
                .title-page-col-40
                    .title-page-col-content.blue-box
                        h3.title-page-about-exam.text-center Полезные материалы:
                        .veto-page-materials
                            a.veto-page-mat(href="/static/img/general/pdf-link.pdf" target="_blank")
                                +icon('pdf')
                                p.veto-page-mat-text Типовой тест ТРКИ, (Элементарный уровень, ТЭУ/А1)
                            a.veto-page-mat(href="/static/img/general/pdf-link.pdf" target="_blank")
                                +icon('pdf')
                                p.veto-page-mat-text Типовой тест ТРКИ, (Элементарный уровень, ТЭУ/А1)
