section.title-page
    .container
        h3.section-title-medium.mb-5 ТРКИ — Элементарный уровень (ТЭУ / A1)
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        h3.title-page-about-exam Об экзамене подробнее
                        p.title-page-text ТРКИ – это экзамен по русскому как иностранному. Тестирование делится на 6 уровней владения русским языком. Его необходимо сдавать тем, кто желает получить гражданство Российской Федерации, поступить в российский ВУЗ, получить диплом по окончании университета.
                        p.title-page-text При успешном прохождении теста элементарного уровня выдается соответствующий сертификат, подтверждающий общее владение русским языком как иностранным и свидетельствует, что кандидат способен удовлетворить элементарные коммуникативные потребности в ограниченном числе ситуаций бытовой, социально-культурной и учебной сфер общения. Сертификат данного уровня свидетельствует о наличии необходимой и достаточной базы для дальнейшего изучения русского языка.
                        .title-page-attention
                            +icon('warn')
                            p.title-page-text Наличие сертификата третьего уровня владения русским языком необходимо для получения диплома бакалавра, специалиста, магистра и кандидата наук.
                .title-page-col-40

                    .title-page-col-content.blue-box
                        h3.title-page-about-exam.text-center Продолжительность экзамена
                        ul.title-page-time-exam--list
                            li.title-page-time-exam--item
                                p.title-page-time-exam--item__name Лексика. Грамматика:
                                span.title-page-time-exam--item__min 50 мин.
                            li.title-page-time-exam--item
                                p.title-page-time-exam--item__name Чтение:
                                span.title-page-time-exam--item__min 50 мин.
                            li.title-page-time-exam--item
                                p.title-page-time-exam--item__name Аудирование:
                                span.title-page-time-exam--item__min 30 мин.
                            li.title-page-time-exam--item
                                p.title-page-time-exam--item__name Письмо:
                                span.title-page-time-exam--item__min 50 мин.
                            li.title-page-time-exam--item
                                p.title-page-time-exam--item__name Говорение:
                                span.title-page-time-exam--item__min 30 мин.
                        .title-page-time-exam--list-all
                            .title-page-time-exam--all-name Общая продолжительность
                            .title-page-time-exam--list-time 3 ч. 30 мин.

        p.title-page-exam-test Тестирование по русскому языку как иностранному языку основано на единой сертификационной системе определения уровня владения практическим русским языком и построено с учетом целей его использования, навыков и умений в употреблении языковых средств для реализации определенных тактик речевого поведения в основных видах речевой деятельности.



