section.baner-page
    .container
        .baner-page-content
            h3.baner-page-title ТРКИ — Элементарный уровень
            a.migdex-button-style.baner-page-emax(href="/") Запись на экзамен
