section.baner-page
    .container
        .baner-page-content
            h3.baner-page-title Мнение клиентов о компании «MigdexEDU»
            a.migdex-button-style.baner-page-emax.written-comment(href="/") Оставить отзыв