section.index-real-review.reviews-real-comments
    .container
        .index-video-title--link__wrap
            h3.section-title-medium.index-video-title Отзывы реальных клиентов
            a.index-video-review__link.review-stay-review(href="/") Оставить отзыв
        .index-real-review--wrap
            .index-real-review--list
                .index-real-review--item
                    .index-real-review--logo-name-stars--wrap
                        .index-real-review--logo-name--wrap
                            .index-real-review-logo-name
                                img(src="/static/img/general/reviewMain/Avatar.png")
                            .index-real-review-name--wrap
                                p.index-real--name Людмила Борисова
                                span.index-real-cource Элементарный (ТЭУ / A1)
                                .index-mobile-review-stars
                                    .index-real-review-rateyo(data-rating="")
                        .index-real-review-stars
                            .index-real-review-rateyo(data-rating="")
                    .index-real-review-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus risus commodo vitae non, volutpat porttitor. Euismod neque faucibus aliquam ut habitant risus tempus. Lobortis nibh vestibulum sagittis, volutpat aliquam in enim. Adipiscing hac tristique ultrices tellus nisi. Pulvinar at orci proin euismod nunc mi dignissim sit.
                .index-real-review--item
                    .index-real-review--logo-name-stars--wrap
                        .index-real-review--logo-name--wrap
                            .index-real-review-logo-name
                                img(src="/static/img/general/reviewMain/Avatar2.png")
                            .index-real-review-name--wrap
                                p.index-real--name Максим Лобанов
                                span.index-real-cource Вид на жительство (ВНЖ)
                                .index-mobile-review-stars
                                    .index-real-review-rateyo(data-rating="")
                        .index-real-review-stars
                            .index-real-review-rateyo(data-rating="")
                    .index-real-review-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus risus commodo vitae non, volutpat porttitor. Euismod neque faucibus aliquam ut habitant risus tempus. Lobortis nibh vestibulum sagittis, volutpat aliquam in enim. Adipiscing hac tristique ultrices tellus nisi. Pulvinar at orci proin euismod nunc mi dignissim sit.
                .index-real-review--item
                    .index-real-review--logo-name-stars--wrap
                        .index-real-review--logo-name--wrap
                            .index-real-review-logo-name
                                img(src="/static/img/general/reviewMain/Avatar3.png")
                            .index-real-review-name--wrap
                                p.index-real--name Лев Матвеев
                                span.index-real-cource Вид на жительство (ВНЖ)
                                .index-mobile-review-stars
                                    .index-real-review-rateyo(data-rating="")
                        .index-real-review-stars
                            .index-real-review-rateyo(data-rating="")
                    .index-real-review-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus risus commodo vitae non, volutpat porttitor. Euismod neque faucibus aliquam ut habitant risus tempus. Lobortis nibh vestibulum sagittis, volutpat aliquam in enim. Adipiscing hac tristique ultrices tellus nisi. Pulvinar at orci proin euismod nunc mi dignissim sit.
                .index-real-review--item
                    .index-real-review--logo-name-stars--wrap
                        .index-real-review--logo-name--wrap
                            .index-real-review-logo-name
                                img(src="/static/img/general/reviewMain/Avatar4.png")
                            .index-real-review-name--wrap
                                p.index-real--name Александра Данилова
                                span.index-real-cource Элементарный (ТЭУ / A1)
                                .index-mobile-review-stars
                                    .index-real-review-rateyo(data-rating="")
                        .index-real-review-stars
                            .index-real-review-rateyo(data-rating="")
                    .index-real-review-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus risus commodo vitae non, volutpat porttitor. Euismod neque faucibus aliquam ut habitant risus tempus. Lobortis nibh vestibulum sagittis, volutpat aliquam in enim. Adipiscing hac tristique ultrices tellus nisi. Pulvinar at orci proin euismod nunc mi dignissim sit.
                .index-real-review--item
                    .index-real-review--logo-name-stars--wrap
                        .index-real-review--logo-name--wrap
                            .index-real-review-logo-name
                                img(src="/static/img/general/reviewMain/Avatar3.png")
                            .index-real-review-name--wrap
                                p.index-real--name Лев Матвеев
                                span.index-real-cource Вид на жительство (ВНЖ)
                                .index-mobile-review-stars
                                    .index-real-review-rateyo(data-rating="")
                        .index-real-review-stars
                            .index-real-review-rateyo(data-rating="")
                    .index-real-review-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus risus commodo vitae non, volutpat porttitor. Euismod neque faucibus aliquam ut habitant risus tempus. Lobortis nibh vestibulum sagittis, volutpat aliquam in enim. Adipiscing hac tristique ultrices tellus nisi. Pulvinar at orci proin euismod nunc mi dignissim sit.
                .index-real-review--item
                    .index-real-review--logo-name-stars--wrap
                        .index-real-review--logo-name--wrap
                            .index-real-review-logo-name
                                img(src="/static/img/general/reviewMain/Avatar4.png")
                            .index-real-review-name--wrap
                                p.index-real--name Александра Данилова
                                span.index-real-cource Элементарный (ТЭУ / A1)
                                .index-mobile-review-stars
                                    .index-real-review-rateyo(data-rating="")
                        .index-real-review-stars
                            .index-real-review-rateyo(data-rating="")
                    .index-real-review-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus risus commodo vitae non, volutpat porttitor. Euismod neque faucibus aliquam ut habitant risus tempus. Lobortis nibh vestibulum sagittis, volutpat aliquam in enim. Adipiscing hac tristique ultrices tellus nisi. Pulvinar at orci proin euismod nunc mi dignissim sit.
            a.migdex-button-style.index-real-reviews--all(href="/") Показать еще