section.about-us.pb-0
    .container
        h3.section-title-medium.mb-5 Добровольное медицинское страхование
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Зачем нужен полис ДМС?
                        p.title-page-text Обязанность иметь действующий страховой полис ДМС лежит на каждом иностранном гражданине.
                        p.title-page-text В компании «MigdexEDU» содействие в оформлении полиса добровольного медицинского страхования для мигрантов происходит в страховых компаниях, аккредитованных компаниях при УВМ ГУ МВД России.
                        a.migdex-button-style(href="/") Запись на экзамен
                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-about-exam Для оформления полиса ДМС необходимы копии следующих документов:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Паспорт или копия паспорта (для детей: паспорт или свидетельство о рождении ребенка) — заверенный перевод
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text аккредитованный перевод документов;
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Данные об адресе регистрации и фактического проживания
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Номер мобильного телефона
                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.








