section.baner-page
    .container
        .baner-page-content
            h3.baner-page-title.dms-title Медицинское страхование
            p.dms-baner-text Помощь в оформлении необходимых документов
            a.migdex-button-style.baner-page-emax.stay-application(href="/") Оставить заявку