section.contact-page
    .container
        h3.section-title-medium.mb-5 Как получить полис ДМС мигранту?
        p.contact-page--text.col-xl-9 Вы можете позвонить нам или оставить заявку онлайн, менеджер свяжется с Вами в течении 15 минут!
        .contact-page--wrapper.blue-box.col-xl-9
            h3.contact-page-title-block Позвоните нам прямо сейчас:
            .contact-page-icon-phone
                a(href="tel:+79684060110").contact-page-icon-wrap
                    +icon('contact')
                a.contact-page--phone(href="tel:+79684060110") +7 (968) 406-01-10
        a.migdex-button-style.contact-page-exam-z(href="/") Запись на экзамен