section.vidi-dms.pb-0
    .container
        h3.section-title-medium Виды ДМС
        .vidi-dms-wrap.row
            .vidi-dms-item.col-lg-4.col-md-12.col-sm-12.p-3
                .vidi-dms-item-item.blue-box
                    +icon('Frame_405')
                    .vidi-dms-block
                        h3.vidi-dms-title ДМС Трудовой мигрант
                        a.vidi-dms-link(href="/") Подробнее
                .vidi-dms-item-item2.blue-box
                    p.title-page-about-exam.fs-22 Необходимые документы
                    .rules-checked-items
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text паспорт иностранного гражданина
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text перевод паспорта (не обязательно нотариально заверенный)
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text миграционная карта
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text уведомление о постановке на миграционный учет (регистрация)
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text доверенность от генерального директора на уполномоченное лицо с правом подписи
                    p.title-page-about-exam.fs-22 Что влияет на стоимость полиса?
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text возраста иностранного гражданина
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text срока действия полиса
                            .rules-checked-item
                    a.migdex-button-style.migdex-short-button(href="") Оставить заявку
            .vidi-dms-item.col-lg-4.col-md-12.col-sm-12.p-3
                .vidi-dms-item-item.blue-box
                    +icon('graduation_1')
                    .vidi-dms-block
                        h3.vidi-dms-title ДМС для студентов
                        a.vidi-dms-link(href="/") Подробнее
                .vidi-dms-item-item2.blue-box
                    p.title-page-about-exam.fs-22 Необходимые документы
                    .rules-checked-items
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text паспорт иностранного гражданина
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text перевод паспорта (не обязательно нотариально заверенный)
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text миграционная карта
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text уведомление о постановке на миграционный учет (регистрация)
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text доверенность от генерального директора на уполномоченное лицо с правом подписи
                    p.title-page-about-exam.fs-22 Что влияет на стоимость полиса?
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text возраста иностранного гражданина
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text срока действия полиса
                            .rules-checked-item
                    a.migdex-button-style.migdex-short-button(href="") Оставить заявку
            .vidi-dms-item.col-lg-4.col-md-12.col-sm-12.p-3
                .vidi-dms-item-item.blue-box
                    +icon('baby-boy_1')
                    .vidi-dms-block
                        h3.vidi-dms-title ДМС для детей
                        a.vidi-dms-link(href="/") Подробнее
                .vidi-dms-item-item2.blue-box
                    p.title-page-about-exam.fs-22 Необходимые документы
                    .rules-checked-items
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text паспорт иностранного гражданина
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text перевод паспорта (не обязательно нотариально заверенный)
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text миграционная карта
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text уведомление о постановке на миграционный учет (регистрация)
                        .rules-checked-item
                            .rules-check-item
                            p.rules-text доверенность от генерального директора на уполномоченное лицо с правом подписи
                    p.title-page-about-exam.fs-22 Что влияет на стоимость полиса?
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text возраста иностранного гражданина
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text срока действия полиса
                            .rules-checked-item
                    a.migdex-button-style.migdex-short-button(href="") Оставить заявку


