section.standart-pack
    .container
        h3.section-title-medium Стандартный пакет состоит из следующих услуг:
        .row.justify-content-center
            .col-lg-4.col-md-6.col-sm-6.p-3
                .standart-pack-item.blue-box
                    +icon('policeman')
                    p.standart-pack-item--text Получение справок для УВМ ГУ МВД России.
            .col-lg-4.col-md-6.col-sm-6.p-3
                .standart-pack-item.blue-box
                    +icon('doctor')
                    p.standart-pack-item--text Экстренная госпитализация — в тяжелых и крайне тяжелых случаях.
            .col-lg-4.col-md-6.col-sm-6.p-3
                .standart-pack-item.blue-box
                    +icon('ambulance')
                    p.standart-pack-item--text Медико-транспортные услуги, по возвращению пациента на родину.
            .col-lg-4.col-md-6.col-sm-6.p-3
                .standart-pack-item.blue-box
                    +icon('bone')
                    p.standart-pack-item--text Услуги травмпункта.
            .col-lg-4.col-md-6.col-sm-6.p-3
                .standart-pack-item.blue-box
                    +icon('tooth')
                    p.standart-pack-item--text Стоматологическая помощь.
