section.baner-page.baner-docum-page
    .container
        .baner-page-content
            h3.baner-page-title Подготовка документов для оформления РВП
            .baner-tabs-white-docum
                .baner-tab-docum.docum-tab1.active(docum="docum1")
                    +icon('clock-w')
                    span.baner-tab-docum--text РВП
                .baner-tab-docum.docum-tab2(docum="docum2")
                    +icon('room-key-w')
                    span.baner-tab-docum--text ВНЖ
                .baner-tab-docum.docum-tab3(docum="docum3")
                    +icon('visa-w')
                    span.baner-tab-docum--text ГРАЖДАНСТВО РФ
