section.subject-test
    .container
        h3.section-title-medium.mb-5 Комплексный экзамен для мигрантов
        .subtest-migrant-wrapper
            .subtest-migrant-item.blue-box
                +icon('head')
                h3.title-exam-card.subtest-migrant-card Разрешение на работу
                    span (ИР)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                .subtest-stopwatch
                    +icon('stopwatch')
                    span 55 минут
                a.migdex-button-style.subtest-button(data-toggle="modal" data-target="#popup-subtest") Пройти
            .subtest-migrant-item.blue-box
                +icon('clock2')
                h3.title-exam-card.subtest-migrant-card Временное проживание
                    span (РВП)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                .subtest-stopwatch
                    +icon('stopwatch')
                    span 55 минут
                a.migdex-button-style.subtest-button(data-toggle="modal" data-target="#popup-subtest") Пройти
            .subtest-migrant-item.blue-box
                +icon('room-key')
                h3.title-exam-card.subtest-migrant-card Вид на жительство
                    span (ВНЖ)
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                .subtest-stopwatch
                    +icon('stopwatch')
                    span 55 минут
                a.migdex-button-style.subtest-button(data-toggle="modal" data-target="#popup-subtest") Пройти
            .subtest-migrant-item.blue-box
                +icon('visa')
                h3.title-exam-card.subtest-migrant-card Гражданство
                    span РФ
                p.exam-index-card--text Комплексное тестирование для получения разрешения на работу
                .subtest-stopwatch
                    +icon('stopwatch')
                    span 55 минут
                a.migdex-button-style.subtest-button(data-toggle="modal" data-target="#popup-subtest") Пройти
