section.section-title-traduction.pb-0
    .container
        h3.section-title-medium Нотариальный перевод документов
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Что переводим?
                        p.title-page-text “MigdexEDU” осуществляет перевод на русский язык следующих документов: паспорта, водительские удостоверения, свидетельства о рождении, браке, медицинские сертификаты, декларации, документы об образовании. Нотариальный перевод документов Краснодар. Стоимость услуг от 500 ₽.
                        p.title-page-text Вы можете связаться с нами через мессенджеры, ваш вопрос не останется без ответа.
                        a.migdex-button-style.h-47(href="/") Оставить заявку

                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-about-exam С каких языков?
                        p.title-page-text Перевод документов с нотариальным заверением для:
                        .rules-checked-items
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Украина
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Таджикистан
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Узбекистан
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Казахстан
                            .rules-checked-item
                                .rules-check-item
                                p.rules-text Еще 18 стран
