section.traduction.pb-0
    .container
        h3.section-title-medium.mb-4 Зачем нужен перевод документов?
        p.section-title-text.mb-5 Перевод документов с последующим нотариальным заверением необходим в следующих ситуациях:
        .row
            .col-lg-3.col-md-6.col-sm-6.p-3
                .traduction-item.blue-box
                    +icon('engagement')
                    p Заключение брака с гражданином другого государства
            .col-lg-6.col-md-6.col-sm-6.p-3
                .traduction-item.blue-box
                    +icon('travel')
                    p.long-traduction При выезде за рубеж, независимо от цели – туристическая поездка, смена места жительства, командировка и так далее
            .col-lg-3.col-md-6.col-sm-6.p-3
                .traduction-item.blue-box
                    +icon('grandfather')
                    p Получение в наследство имущества, которое находится за границей
            .col-lg-3.col-md-6.col-sm-6.p-3
                .traduction-item.blue-box
                    +icon('real-estate')
                    p Покупка/продажа недвижимости, находящейся за рубежом
            .col-lg-3.col-md-6.col-sm-6.p-3
                .traduction-item.blue-box
                    +icon('passport')
                    p При получении гражданства, разрешения на работу или патента
            .col-lg-3.col-md-6.col-sm-6.p-3
                .traduction-item.blue-box
                    +icon('key2')
                    p При получении разрешения на временное проживание
            .col-lg-3.col-md-6.col-sm-6.p-3
                .traduction-item.blue-box
                    +icon('file')
                    p В других ситуациях, требующих перевода