section.how-much
    .container
        h3.section-title-medium.mb-5 Стоимость услуг
        .row
            .col-lg-3.col-md-6.col-sm-6.p-3
                .how-much-item.blue-box
                    +icon('passport2')
                    .how-much-block
                        .how-much-name Паспорт
                        .how-much-summ от 690 ₽
                    a.migdex-button-style.how-much-block-order(href="/") Заказать
            .col-lg-3.col-md-6.col-sm-6.p-3
                .how-much-item.blue-box
                    +icon('paper2')
                    .how-much-block
                        .how-much-name СВИДЕТЕЛЬСТВО
                        .how-much-summ от 690 ₽
                    a.migdex-button-style.how-much-block-order(href="/") Заказать
            .col-lg-3.col-md-6.col-sm-6.p-3
                .how-much-item.blue-box
                    +icon('driver-lic')
                    .how-much-block
                        .how-much-name ВОДИТЕЛЬСКИЕ ПРАВА
                        .how-much-summ от 690 ₽
                    a.migdex-button-style.how-much-block-order(href="/") Заказать
            .col-lg-3.col-md-6.col-sm-6.p-3
                .how-much-item.blue-box
                    +icon('folder2')
                    .how-much-block
                        .how-much-name СЛОЖНЫЕ ДОКУМЕНТЫ
                        .how-much-summ от 690 ₽
                    a.migdex-button-style.how-much-block-order(href="/") Заказать