section.section-title-traduction
    .container
        h3.section-title-medium Нотариальный перевод документов
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Сколько ждать?
                        p.title-page-text Перевод документов в “MigdexEDU” оформляется в течении рабочего дня, в зависимости от времени обращения, а также часов работы нотариуса. Если прислать документ по электронной почте то 2 раза приходить не нужно. Мы позвоним вам по готовности перевода.
                        p.title-page-text Вы можете связаться с нами через мессенджеры, ваш вопрос не останется без ответа.
                        a.migdex-button-style.h-47(href="/") Оставить заявку

                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-about-exam Перевод с наториальным заверием
                        p.title-page-text Мы сотрудничаем с нотариусами, которые в соответствии с Законодательством РФ подтверждают юридическую силу любого официального и личного документа.
                        p.title-page-text Мы принимает документы любого объема, вида и формата (на электронных носителях, на бумаге, от сканированные изображения). Индивидуальный подход к каждому клиенту, конфиденциальность, высокое качество и приемлемые цены, вот наши главные критерии работы.
