section.section-how-much-buy
    .container
        h3.section-title-medium Стоимость
        .packets-pay.row.col-lg-10
            .packets-pay-item-wrap.col-lg-6.col-md-6.col-sm-12
                .packets-pay-item.blue-box
                    h3.packets-pay-title «Всё включено»
                    span.packets-pay-summ 18 500 ₽
                    a.migdex-button-style.packets-pay-button(href="/") Подробнее
            .packets-pay-item-wrap.col-lg-6.col-md-6.col-sm-12
                .packets-pay-item.blue-box
                    h3.packets-pay-title Пакет без перевода документов
                    span.packets-pay-summ 17 500 ₽
                    a.migdex-button-style.packets-pay-button(href="/") Подробнее
