section.section-title-docum.pb-0
    .container
        h3.section-title-medium Квота на вид на жительство в России – не предусмотрена!
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        p.title-page-text Многие иностранные граждане интересуются вопросами о том, как распределяются квоты на вид на жительство в России. Здесь необходимо отметить, что получение вида на жительство для граждан других государств не предусматривает никаких квот в принципе.
                        p.title-page-text То есть ВНЖ в РФ иностранный гражданин может получить на основании заявления, предоставленного в отдел ГУВМ МВД по месту жительства.
                        p.title-page-text Другими словами осуществляется оформление вида на жительство без квоты.
                        a.migdex-button-style.migdex-long-button.h-47(href="/") Онлайн-запись на подготовку документов

                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-about-exam.text-center ВНЖ для ребенка
                        p.title-page-text.text-center Оформить вид на жительство в России ребенку иностранный гражданин может несколькими способами.
                        p.title-page-text.text-center После получения ВНЖ родителем, вписать ребенка как члена семьи. Важно! Вписать ребенка в ВНЖ взрослого, не оформляя отдельный документ можно до тех пор, пока ему не исполнилось 16 лет. Или же после получения ВНЖ подать заявление для получения ВНЖ ребенку. Также можно подать заявления на получение ВНЖ для родителя и ребенка одновременно.
                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.
