section.section-title-docum.pb-0
    .container
        h3.section-title-medium Вид на жительство (ВНЖ)
        .title-page--wrapper
            .title-page-line
                .title-page-col-50.title-col-50
                    .title-page-col-content.title-page-col-width.title-width-115.blue-box
                        h3.title-page-about-exam Что такое вид на жительство в России?
                        p.title-page-text Вид на жительство (ВНЖ) — документ, выданный иностранному гражданину в подтверждение его права на постоянное проживание в Российской Федерации, а также его права на свободный выезд из Российской Федерации и въезд в Российскую Федерацию.
                        p.title-page-text Вид на жительство, выданный лицу без гражданства, является одновременно и документом, удостоверяющим его личность.
                        a.migdex-button-style.migdex-long-button.h-47(href="/") Онлайн-запись на подготовку документов

                .title-page-col-40.title-col-50
                    .title-page-col-content.title-page-col-content-padding.blue-box
                        p.title-page-about-exam.text-center Готовность ВНЖ
                        p.title-page-text.text-center Чтобы проверить готовность вида на жительство, воспользуйтесь сервисом ГУВМ МВД России. Для этого укажите регион, в котором вы подали документы на оформление ВНЖ, дату рождения и номер документа, который был предоставлен в ГУВМ МВД России для оформления разрешения на временное проживание.
                        a.migdex-button-style.migdex-ready.h-47(href="/") Проверить готовность
                        //p.title-page-text.text-center.pt-4 Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.
