section.veto-page.pt-0
    .container
        h3.section-title-medium.mb-5 Сроки действия ВНЖ в России
        .title-page--wrapper
            .title-page-line
                .title-page-col-50
                    .title-page-col-content.title-page-col-width.blue-box
                        p.title-page-text Вид на жительство выдается иностранному гражданину на пять лет. По окончании срока действия вида на жительство данный срок может быть продлен ещё на пять лет по заявлению иностранного гражданина, поданному не позднее, чем за два месяца до истечения срока действия имеющегося у него вида на жительство. Количество продлений срока действия вида на жительство не ограничено.
                        p.title-page-text Вид на жительство в Российской Федерации может быть выдан иностранному гражданину, прожившему в Российской Федерации не менее одного года на основании разрешения на временное проживание.
                        a.migdex-button-style.migdex-long-button.h-47(href="/") Онлайн-запись на подготовку документов
                .title-page-col-40
                    .title-page-col-content.blue-box
                        h3.title-page-about-exam.text-center Важно!
                        p.title-page-text.text-center С 30 июня 2018 года (Федеральный закон № 128-ФЗ от 25.07.1998 г.) дактилоскопию на РВП и ВНЖ (кто обращается за ВНЖ без РВП: граждане Беларуси, высококвалифицированные специалисты и члены их семей, граждане Туркмении и т.д.) проходят при подаче заявления, а не после получения. Прохождение дактилоскопии теперь обязательно для детей, достигших возраста 6 лет.







